/* adbanner */
img.adNeptronic {
    padding-top: 15px;
    margin-left: -2px;
}

img.adTitleText {
    padding-top: 5px;
    padding-left: 46px;
    z-index: 100;
}

div.adText {
    position: absolute;
    top: 100px;
    left: 48px;
    width: 450px;
    font-size: 20px;
    color: #184D8F;
    z-index: 1000;
}

div.adText2 {
    position: absolute;
    top: 115px;
    left: 48px;
    width: 450px;
    font-size: 20px;
    color: #184D8F;
    z-index: 1000;
}

div.adText3 {
    position: absolute;
    top: 70px;
    left: 248px;
    width: 450px;
    font-size: 24px;
    color: #184D8F;
    z-index: 1000;
}

div.adText3Min {
    top: 10px;
    font-size: 14px;
}

div.adText4 {
    position: absolute;
    top: 100px;
    left: 248px;
    width: 450px;
    font-size: 20px;
    color: #184D8F;
    z-index: 1000;
}

div.adText5 {
    position: absolute;
    top: 100px;
    left: 48px;
    width: 450px;
    font-size: 28px;
    color: #184D8F;
    z-index: 1000;
}

table.navCarousel {
    position: absolute;
    top: 240px;
    left: 48px;
    z-index: 1000;
}

img.adLearnMore {
    position: absolute;
    top: 10px;
    left: 670px;
    z-index: 1000;
}

img.adLearnMore2 {
    position: absolute;
    top: 190px;
    left: 45px;
    z-index: 1000;
}

img.adLearnMore3 {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 1000;
}

img.adLearnMore4 {
    position: absolute;
    top: 210px;
    left: 248px;
    z-index: 1000;
}

img.adLearnMore5 {
    position: absolute;
    top: 180px;
    left: 45px;
    z-index: 1000;
}

#mainAdBannerDetails ul {
    font-size: 14px;
    color: #8d97a4;
    width: 800px;
    padding-left: 61px;
    list-style-type: disc;
}

    #mainAdBannerDetails ul li {
        float: left;
        width: 800px;
    }

        #mainAdBannerDetails ul li span {
            color: #85af37;
        }

img.adTitleDesc {
    padding-top: 10px;
    padding-left: 106px;
}

img.adTitlePic {
}
/* page */
table.dTbl {
    padding-left: 0px;
}

    table.dTbl tr {
        height: 235px;
    }

        table.dTbl tr.xtraTopSpace {
            height: 290px;
        }

    table.dTbl td {
        width: 148px;
    }

        table.dTbl td.sep {
            width: 11px;
        }

div.sep {
    height: 220px;
    margin-left: 5px;
    margin-bottom: 15px;
    border-left: dotted 1px #9f9f9f;
}

div.linkGroup {
    position: relative;
    background: url('images/ControlsBG.png') repeat-x;
    height: 235px;
}

    div.linkGroup ul {
        position: relative;
        z-index: 200;
        padding-top: 120px;
        list-style-type: none;
        background-color: Transparent;
    }

img.awardIcon {
    margin-left: 40px;
    margin-top: 5px;
}

div.linkGroup li.titleW {
    color: White;
    font-size: 13px;
    font-weight: bold;
}

div.linkGroup li.titleW1 {
    margin-top: -16px;
    color: White;
    font-size: 13px;
    font-weight: bold;
}

div.linkGroup li.titleY {
    height: 37px;
    color: #fcc420;
    font-size: 13px;
    font-weight: bold;
}

div.linkGroup li {
    padding-top: 2px;
    padding-left: 7px;
}

    div.linkGroup li div {
        display: inline;
        font-size: 14px;
        font-weight: bold;
        padding-right: 5px;
        color: #184d8f;
        padding-top: 10px;
    }

    div.linkGroup li a {
        display: inline-block;
        font-size: 12px;
        color: #747474;
        height: 12px;
    }

        div.linkGroup li a.twoLines {
            height: 40px;
            vertical-align: top;
            padding-top: 2px;
        }

div.linkGroup img {
    position: absolute;
    z-index: 100;
}

img.imgfan {
    top: -5px;
    left: 53px;
}

img.imgHumCon {
    top: -8px;
    left: 98px;
}

img.imgVelCon {
    top: -1px;
    left: 75px;
}

img.imgTran {
    top: -3px;
    left: 88px;
}

img.imgVav {
    top: -10px;
    left: 59px;
}

img.imgHeatPump {
    top: -8px;
    left: 98px;
}

img.imgStaticPress {
    top: 2px;
    left: 58px;
}

img.imgSensors {
    top: -5px;
    left: 74px;
}

img.imgSSR {
    top: 10px;
    left: 78px;
}

img.imgInducer {
    top: 3px;
    left: 58px;
}

img.imgBN {
    padding-left: 1px;
}

div.carousBtns { position:absolute; left:20px; top:245px; z-index:50000; }
div.carousBtns div { display:block; float:left; z-index:50000; margin-right:8px;}
div.carousBtns div.ccbtn_1a { cursor:pointer; color:#d6d6d4; font-size:32px; }
div.carousBtns div.ccbtn_2a { cursor:pointer; color:#d6d6d4; font-size:32px; }
div.carousBtns div.ccbtn_3a { cursor:pointer; color:#d6d6d4; font-size:32px; }
div.carousBtns div.ccbtn_4a { cursor:pointer; color:#d6d6d4; font-size:32px; }
div.carousBtns div.ccbtn_5a { cursor:pointer; color:#d6d6d4; font-size:32px; }
div.carousBtns div.ccbtn_6a { background:url("images/Pause_Icon_Homepage.png") no-repeat 0px 10px; width:21px; height:32px; line-height: 32px; cursor:pointer; }
div.carousBtns div.ccbtn_6c { background:url("images/Play_Icon_Homepage.png") no-repeat 0px 10px; width:21px; height:32px; line-height: 32px; cursor:pointer; }

div.carousBtns div.ccbtn_1c, div.carousBtns div.ccbtn_1a:hover { color:#003a69; }
div.carousBtns div.ccbtn_2c, div.carousBtns div.ccbtn_2a:hover { color:#003a69; }
div.carousBtns div.ccbtn_3c, div.carousBtns div.ccbtn_3a:hover { color:#003a69; }
div.carousBtns div.ccbtn_4c, div.carousBtns div.ccbtn_4a:hover { color:#003a69; }
div.carousBtns div.ccbtn_5c, div.carousBtns div.ccbtn_5a:hover { color:#003a69; }
div.carousBtns div.ccbtn_6b, div.carousBtns div.ccbtn_6a:hover { background:url("images/Pause_Icon_Homepage_Mouse_Over.png") no-repeat 0px 10px; width:21px; height:40px; line-height: 32px; cursor:pointer; }
div.carousBtns div.ccbtn_6d, div.carousBtns div.ccbtn_6c:hover { background:url("images/Play_Icon_Homepage_Mouse_Over.png") no-repeat 0px 10px; width:21px; height:40px; line-height: 32px; cursor:pointer; }

div.carousBtns div.ccbtn_1c, div.carousBtns div.ccbtn_2b, div.carousBtns div.ccbtn_3b, div.carousBtns div.ccbtn_4b, div.carousBtns div.ccbtn_5b { cursor:default;}

/* brochure*/
div.proBro {
    margin-left: 17px;
}

    div.proBro a:hover {
        text-decoration: none;
    }

#proBro {
    font-size: 14px;
    color: #8d97a4;
    font-weight: bold;
}

#pdfDown {
    width: 162px;
    height: 26px;
    display: block;
    overflow: hidden;
}

    #pdfDown img {
        margin-top: -26px;
    }

    #pdfDown:hover img {
        margin-top: 0px;
    }

/* body top buttons */
div.downloadBtns {
    border-spacing: 0px;
    margin-left: 8px;
}

    div.downloadBtns > a {
        display: inline-block;
        height: 29px;
    }

a.selectSoftware {
    background: url('Images/CtrlBtns.png') no-repeat -25px -359px;
    width: 245px;
    margin-right: 203px;
    visibility: hidden;
}

    a.selectSoftware:hover {
        background-position: -274px -359px;
        cursor: pointer;
    }

div.downloadBtns > div {
    display: inline-block;
    height: 29px; /* margin-left:260px; */
    position: relative;
}

a.pdfBtn_cat {
    background: url('Images/pdf-download.png') no-repeat 0px -26px;
    width: 162px;
    height: 26px;
    display: block;
}

    a.pdf_cat_pop, a.pdfBtn_cat:hover {
        background-position: 0px 0px;
        cursor: pointer;
    }

a.pdfBtn1 {
    background: url('Images/CtrlBtns.png') no-repeat -484px -24px;
    width: 81px;
    height: 29px;
    display: block;
}

    a.pdf_bro_pop, a.pdfBtn1:hover {
        background-position: -484px -68px;
        cursor: pointer;
    }

a.pdfBtn2 {
    background: url('Images/CtrlBtns.png') no-repeat -484px -113px;
    width: 81px;
    height: 29px;
    margin-left: 5px;
    display: block;
}

    a.pdf_instr_pop, a.pdfBtn2:hover {
        background-position: -484px -153px;
        cursor: pointer;
    }
/* the popups for the pdfs */
#pop_cat {
    display: none;
    width: 230px;
    position: absolute;
    left: -4px;
    top: 26px;
    z-index: 10000;
}

#pop_bro {
    display: none;
    width: 230px;
    position: absolute;
    left: -4px;
    top: 28px;
    z-index: 10000;
}

#pop_instr {
    display: none;
    width: 260px;
    position: absolute;
    left: 1px;
    top: 28px;
    z-index: 10000;
}

div.pdf_Sensors {
}

div.pdf_Thermo {
}

div.pdf_Components {
}

div.popPdf {
    display: table;
    border-spacing: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 170px;
}

div.popC2 > ul {
    list-style-type: none;
}

div.popC2 a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #705D62;
    padding-right: 5px
}

    div.popC2 a.apModel1 {
        height: 25px;
        padding-top: 12px;
    }

    div.popC2 a.apModel2 {
        height: 25px;
    }

    div.popC2 a.apModel3 {
        height: 25px;
        padding-bottom: 5px;
    }

div.popC2 {
    padding: 10px 15px 15px 10px;
    display: table-cell;
    height: 100%;
    border: solid 1px #a698a1;
    background-color: #ffffff;
    color: #705D62;
    font-size: 12px;
}

    div.popC2 li.sel {
        font-weight: bold;
        padding: 5px 0px 4px 5px;
        border-bottom: 1px solid #E5E5E5;
        background-color: #e5e5e5;
        overflow: hidden;
    }

        div.popC2 li.sel > span {
            float: right;
            margin-right: 10px;
        }

    div.popC2 li {
        padding-left: 6px;
    }

div.popC1 {
    width: 4px;
    display: table-cell;
    height: 100%;
    background-image: url('Images/LShadow.png.html');
    background-repeat: repeat-y;
    background-position: 0px 0px;
    padding-top: 5px;
}

div.popC3 {
    width: 4px;
    display: table-cell;
    height: 100%;
    background: url('Images/RShadow.png.html') repeat-y 0px 0px;
}