.footer { margin-bottom:300px; }
sup { font-size:12px; vertical-align:super; line-height:0; font-variant:small-caps}
/* the top menu trail */
div.trail {height:10px; margin-top:9px; margin-left:17px;}
div.trail a, div.trail span { float:left; display:block; color:#244f85; font-size:10px; } 
div.trail span.sep { width:15px; height:100%; background-image:url("../images/trail.png")no-repeat; background-position:5px 3px; }
div.trail span.last {font-weight:bold; }
/* banner */
div.bannerFrame { overflow:auto; width:811px; height:306px; margin-left:5px; background-image:url('Images.2/bannerFrame.jpg'); background-repeat:no-repeat; padding-left:11px;position:relative; }
div.bannerFrame h3 { margin:34px 0px 0px 0px; border-left:solid 40px #11a0d4; height:20px; padding-left:10px; font-size:24px; line-height:24px; color:#11a0d4; }
ul.bannerText { margin-top:25px; margin-left:52px; list-style-position:outside; height:110px; color:#11a0d4;  }
ul.bannerText > li {padding-bottom:5px; }
ul.bannerText > li > span { color:#777777; font-size:14px; }
div#topbanner_xstream > span, div#topbanner_multisteam > span, div#topbanner_sam > span, div#topbanner_same2 > span { display:block; margin-left:50px; margin-top:10px; font-size:20px; color:#11a0d4;}
div#topbanner_xstream > img {position:absolute; top:-35px; left:460px;}
div#topbanner_multisteam > img {position:absolute; top:-35px; left:480px;}
div#topbanner_sam > img {position:absolute; top:-60px; left:440px;}
div#topbanner_same2 > img {position:absolute; top:-60px; left:440px;}
div#topbanner_sdu > img {position:absolute; top:-29px; left:495px;}
/* top banners */
div.topbanner { position:relative; height:138px;}
div.topbanner > div { display:none; position:absolute; left:0px; top:0px;}
div.topbanner div#topbanner_xstream { display:block;}
/* banner tabs */
ul#bannerTabsTop { list-style-type:none; padding-left:20px; z-index:500; margin:0; overflow:hidden; }
ul#bannerTabsTop li.banActiveTop { background:url('Images.2/HumiBtns.png') -25px -2px; }
ul#bannerTabsTop > li { margin-right:12px; overflow:hidden; float:left; height:22px; width:140px; background-repeat:no-repeat; position:relative; z-index:10;}
ul.bannerTabs { list-style-type:none; padding-left:20px; margin:0; }
ul.bannerTabs li { margin-right:12px; overflow:hidden; float:left; height:80px; width:140px; background-repeat:no-repeat; position:relative; }
ul.bannerTabs li > h4 {color:#fff; font-weight:bold; margin-left:5px; margin-top:10px; font-size:15px; height:25px; }
ul.bannerTabs li > h4  sup { font-size:10px; }
ul.bannerTabs li > h4 > span { font-size:14px; display:block; padding-left:1px; z-index:1000; }
ul.bannerTabs li > span { display:block; font-weight:bold; font-size:11px; padding-left:5px; padding-top:10px; }
ul.bannerTabs li:hover > span { color:#fff;}

li.banActive { background:url('Images.2/HumiBtns.png') -25px -24px; }
li.banActive span { color:#fff; }
li.banNotActive { background:url('Images.2/HumiBtns.png') -25px -243px; }
li.banNotActive > span { color:#000; } 
li.banNotActive:hover {background-position:-25px -135px; cursor:pointer; }
li#banTab_xstream img { position:absolute; top:-20px; left:39px;}
li#banTab_multisteam > img { position:absolute; top:-20px; left:70px; z-index:12; }
li#banTab_sam > img { position:absolute; top:-25px; left:80px; z-index:12;}
li#banTab_same2 > img { position:absolute; top:-25px; left:80px; z-index:12;}
/* body top buttons */
div.downloadBtns { border-spacing:0px; margin-left:16px;}
div.downloadBtns > a { display:inline-block; height:29px; }
a.selectSoftware { background:url('Images.2/HumiBtns.png') no-repeat -25px -359px; width:254px; margin-right:246px;}
a.selectSoftware:hover {background-position:-300px -359px; cursor:pointer;}
div.downloadBtns > div {display:inline-block; height:29px;  /* margin-left:260px; */ position:relative; }
a.pdfBtn1 {background:url('Images.2/HumiBtns.png') no-repeat -484px -24px; width:81px; height:29px; display:block; }
a.pdf_bro_pop, a.pdfBtn1:hover {background-position:-484px -68px; cursor:pointer;}
a.pdfBtn2 {background:url('Images.2/HumiBtns.png') no-repeat -484px -113px;  width:92px; height:29px; margin-left:5px; display:block;}
a.pdf_instr_pop, a.pdfBtn3:hover {background-position:-484px -153px; cursor:pointer;}
a.pdfBtn3 {background:url('Images.2/HumiBtns.png') no-repeat -484px -282px;  width:92px; height:29px; margin-left:5px; display:block;  }
a.pdfBtn3:hover {background-position:-484px -322px;  cursor:pointer;}
/* body heading title */
div#bodyHeading {width:786px; height:34px; margin-left:16px; margin-top:5px; background-image:url('Images.2/BodyHeaderBackground.png'); background-repeat:no-repeat; padding-top:5px;position:relative; } 
div#bodyHeading span.prodName { border-left:solid 40px #11a0d4; height:20px; padding-left:10px; font-size:16px; line-height:21px; color:#777777; font-weight:bold }
div#bodyHeading span.prodDetail { height:20px; font-size:16px; line-height:21px; color:#777777;}
/* group tabs */
ul#ms_grp li { line-height:44px; }
ul#multisteam_grp li { line-height:42px;}
div.bodyTabs { margin-left:10px; }
div.bodyTabs > ul { list-style-type:none; overflow:hidden; white-space:nowrap; }
div.bodyTabs > ul > li { color:white; display:inline-block; text-align:center; width:259px; margin-right:7px;}
div.bodyTabs > ul#ms_grp {height:60px;}
div.bodyTabs > ul#multisteam_grp {height:60px; margin-bottom:10px;}
div.bodyTabs > ul#ms_grp > li, div.bodyTabs > ul#multisteam_grp > li{ background-image:url('Images.2/HumiBtns.png'); background-repeat:no-repeat; font-weight:bold; font-size:15px;   }
div.border { border-bottom:solid 1px #527618; margin:20px 25px 15px 20px;}

div.bodyTabs > ul#ms_grp_dtl { vertical-align:top; height:50px;}
div.bodyTabs > ul#ms_grp_dtl > li { color:#47505c; font-size:14px;vertical-align:top; }
li.bodTabActiveDtl { color:#11a0d4 !important; font-weight:bold;}
li.bodTabActive { background-position:-197px -24px; height:60px; }
li.bodTabNotActive { background-position:-197px -201px; height:42px; }
li.bodTabNotActive:hover { background-position:-197px -113px; cursor:pointer;}
/* groups */
div#innerPageGrp { position:relative; min-height:400px; }
div#multisteam, div#sam, div#sdu, div#same2 { display:none;  } 
/* Collapsible*/
div.cPanel { margin-left:16px; overflow:hidden; }
div.cPanel a, div.cPanel a:link, div.cPanel a:visited, div.cPanel a:active { color:#023b87; text-decoration:underline;}
/* div.cPanel > h4 { padding-left:23px; overflow:hidden; display:block; margin-top:8px; background:url('Images.2/HumiBtns.png') no-repeat -40px -439px; font-size:16px; color:#777777; cursor:pointer;  } */
div.cPanel > h4 { display:block; cursor:pointer; height:30px; }
div.cPanel > h4 > span { display:inline-block; font-size:14px; color:#47505c; line-height:30px; padding-left:25px; background:url('Images.2/HumiBtns.png') no-repeat -40px -435px; }
div.cPanel > h4 > span { font-size:16px; color:#777777; }
div.cPanelOpen > h4, div.cPanelClosed:hover h4 { background:url('Images.2/BodyHeaderBackground.png') no-repeat; }
div.cPanelOpen > h4:hover > span { color:#11a0d4; /* 47505c; */}
div.cPanelClosed > h4:hover > span { color:#11a0d4; }
div.cPanelOpen > h4 > span { background-position:-34px -402px; }
div.cPanelClosed > div.cPanelBody { display:none; } 

/* xstream */
div.xstreamO { position:relative; margin-left:70px; margin-top:17px; background:url("images.2/X-stream.png") no-repeat; width:700px; height:480px; } 
div.xstreamO > img { margin-bottom:60px;}
div.xstreamO > div { position:absolute; font-size:14px; color:#47505c;}
div.xstreamO > div > span { font-weight:bold;}
div.xstreamO ul { margin-left:20px;}
div.xstreamO li { color:#0d9cd8; font-weight:normal; }
div.xstreamO li > span { color:#47505c;}
div.xstreamO > div { position:absolute; font-size:14px; color:#47505c;}
div.xstreamO > div.xs1 { left:-20px; top:20px;}
div.xstreamO > div.xs2 { left:-48px; top:126px;}
div.xstreamO > div.xs3 { left:-50px; top:268px;}
div.xstreamO > div.xs4 { left:-42px; top:400px;}
div.xstreamO > div.xs5 { left:422px; top:38px; color:#004370;}
div.xstreamO > div.xs6 { left:425px; top:120px; color:#004370;}
div.xstreamO > div.xs7 { left:570px; top:150px; color:#004370;}
/* control features, Operational Features, BACnet Features, Applications */
ul.detLst { list-style-type:disc; margin:8px 0px 10px 38px; list-style-position:outside; }
ul.detLst li, ul.detLst a { font-size:14px; }
ul.detLst > li { padding:0px 30px 8px 0px; margin:0; }
ul.detLst > li > ul { list-style-type:circle !important; padding-top:5px; margin-left:15px;}
ul.detLst > li > ul > li { padding-bottom:5px; }
ul.detLstNum { list-style-type:decimal; margin-left:47px !important; }
ul.detLstNum > li { padding:0px 30px 8px 0px; margin:0;}
/* the popup for the actuators and the pdfs */
#pop_bro { display:none;  width:230px; position:absolute; left:-4px; top:28px; z-index:10000; }
#pop_spec { display:none; width:260px; position:absolute; left:1px; top:28px; z-index:10000; }
#pop_instr { display:none; width:260px; position:absolute; left:1px; top:28px; z-index:10000; }

div.popPdf { display:table; border-spacing:0; text-align:left; padding:0; margin:0; }
div.popC2 > ul { list-style-type:none; min-width:140px;}
div.popC2 a { display:inline-block; width:100%; cursor:pointer; color:#705D62;  padding-right:5px }
div.popC2 a.apModel1 { height:25px; padding-top:12px;}
div.popC2 a.apModel2 { height:25px; }
div.popC2 a.apModel3 { height:25px; padding-bottom:5px; }
div.popC2 { padding:10px 15px 15px 10px; display:table-cell; height:100%; border:solid 1px #a698a1; background-color:#ffffff; color:#705D62; font-size:12px; }
div.popC2 li.sel { font-weight:bold; padding:5px 0px 4px 5px; border-bottom:1px solid #E5E5E5; background-color:#e5e5e5; }
div.popC2 li { padding-left:6px;}
div.popC1 { width:4px; display:table-cell; height:100%; background-image:url('Images.2/LShadow.png'); background-repeat:repeat-y; background-position:0px 0px; padding-top:5px;}
div.popC3 { width:4px; display:table-cell; height:100%; background:url('Images.2/RShadow.png') repeat-y 0px 0px; }


/* multisteam */ 
div#multisteam { margin-bottom:50px; } 
div#multisteam > div { margin-left:18px;}
div#multisteam p.msShort { width:500px; font-size:14px; color:#47505c; margin-top:15px; line-height:25px; }
div#multisteam div { position:relative; height:200px; width:650px;}
div#multisteam p.msLong { width:750px; font-size:14px; color:#47505c; margin-top:15px; line-height:25px; }
div#multisteam img.MSOverviewImg { position:absolute; top:-90px; left:0px;}

/*SAM*/
div#sam {margin-left:0px;}
div#sam > div { margin-left:18px;}
div#sam p { width:750px; font-size:14px; color:#47505c; margin-top:15px; line-height:25px; }
div#sam img { margin-left:0px; }

/*SAME2*/
div#same2 {margin-left:0px;}
div#same2 > div { margin-left:18px;}
div#same2 p { width:750px; font-size:14px; color:#47505c; margin-top:15px; line-height:25px; }
div#same2 img { margin-left:-22px; display:block;}

/*SDU*/
div#sdu { margin-left:0px; } 
div#sdu > div { margin-left:18px; display:table; }
div#sdu p.sduShort { width:500px; font-size:14px; color:#47505c; margin-top:15px; line-height:20px; }
div#sdu div.d1 { width:470px; display:table-cell; vertical-align:top;}
div#sdu div.d2 { margin-left:30px; width:300px; display:table-cell; vertical-align:top; padding-left:20px; padding-top:15px;}
/* div#sdu div > img { position:absolute; top:-170px; left:135px;} */